In [126]:
import psycopg2
import pandas as pd
import psycopg2

host = "tuffi.db.elephantsql.com"
port = "5432"
database = "ymmjqfyh"
user = "ymmjqfyh"
password = "jx9-yszYXkw-md0DoSSL_eRBJS4mkBCa"

try:
    conn = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password
    )
    print("Conexão bem-sucedida!")
except Exception as e:
    print(f"Erro ao conectar: {e}")

Conexão bem-sucedida!

In [127]:
# Crie um cursor para executar comandos SQL no banco de dados
cursor = conn.cursor()

 # Crie um cursor para executar comandos SQL no banco de dados
# Execute a consulta SQL para juntar as tabelas e obter os dados desejados
cursor.execute("""
    SELECT 
        candidates.cnd_id, 
        candidates.cnd_age, 
        candidates.cnd_name, 
        candidates.cnd_current_profession, 
        candidates.cnd_experiences, 
        skl_skill.skl_description, 
        knw_knowledge.knw_description,
        att_attitude.att_description
    FROM candidates
    INNER JOIN candidate_skill ON candidates.cnd_id = candidate_skill.cnd_id
    INNER JOIN skl_skill ON candidate_skill.knw_id = skl_skill.skl_id
    INNER JOIN knw_knowledge ON skl_skill.skl_id = knw_knowledge.knw_id
    INNER JOIN candidate_attitude ON candidates.cnd_id = candidate_attitude.cnd_id
    INNER JOIN att_attitude ON candidate_attitude.knw_id = att_attitude.att_id
""")


# Recupere todos os registros da consulta e armazene em um DataFrame
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

cursor.close()

# Use o método display para exibir o DataFrame
from IPython.display import display
display(df)

,cnd_id,cnd_age,cnd_current_profession,cnd_experiences,skl_description,knw_description,att_description
0,2,20,dev jr,empresa xpto 3 anos,dkill descr,123,strasdxasding